<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout}" layout:decorator="layout" >
<head th:include="layout :: htmlhead" th:with="title='favorites'"></head>
<body>
<section layout:fragment="content">
  <div style="margin-left: 10%;margin-top: 4%;width: 80%">
    <div sec:authorize="hasRole('ADMIN')" class="layui-row">
      <form class="layui-form" id="queryForm">
        <div class="layui-inline">
          <select class="layui-col-md1" name="type" lay-verify="" lay-search lay-filter="type">
            <option value="">请选择查询分类</option>
            <option value="1">人员</option>
            <option value="2">部门</option>
            <option value="3">报刊</option>
            <option value="4">报刊类别</option>
          </select>
        </div>
        <div class="layui-inline">
          <select id="var" class="layui-col-md1" name="var" lay-verify="" lay-search lay-filter="var">
            <option value="-1"></option>
          </select>
        </div>
        <div class="layui-inline">
          <button class="layui-btn" id="query">搜索</button>
        </div>
      </form>
    </div>
    <div class="layui-form layui-border-box layui-table-view layui-table-view-1">
      <table id="subscribe" lay-filter="subscribe"></table>
    </div>
  </div>

  <script type="text/html" id="sub">
    <a class="layui-btn layui-btn-xs" lay-event="sub">订阅</a>
  </script>

  <script type="text/html" id="toolbar">
  </script>

  <script>
    layui.use(['table','layer','form'], function() {
      var table = layui.table;
      var layer = layui.layer;
      var form = layui.form;
      var $ = layui.$;
      table.render({
        elem: "#subscribe",//绑定table的id
        url: "/behavior/query?type=1&var=-1",//数据接口
        title: '用户表',
        cols: [
          [
            {field: 'aa', type: 'numbers'},
            {field: 'id', title: '订单编号', width: 150, sort: true},
            {field: 'user', title: '用户编号', width: 150},
            {field: 'newspaper', title: '报刊代号', width: 150},
            {field: 'number', title: '订阅份数', width: 150},
            {field: 'months', title: '订阅月数', width: 150},
            {field: 'price', title: '订阅金额', width: 150}
          ]
        ],
        toolbar: '#toolbar',
        page: false, //开启分页
        parseData:function (res) {
          var data = res.data;
          data.forEach(function (item) {
            item.user = item.user.username;
            item.newspaper = item.newspaper.id;
          });
          return {
            "code": res.code,
            "msg": res.msg,
            "count": res.data.total,
            "data": data
          }
        }
      });

      form.on('select(type)', function(data){
        $.ajax({
          url: '/behavior/getAllTypes?type=' + data.value,
          type: 'get',
          dataType: 'json',
          success: function (res) {
            var data = res.data;
            $('#var').empty();
            data.forEach(function (item) {
              $('#var').append(new Option(item.name ? item.name : item.username, item.id))
            });
            form.render('select');
          }
        });
      });

      $('#queryForm').submit(function (e) {
        e.preventDefault();
        var type = $('#queryForm select[name=type]').val();
        var var_ = $('#queryForm select[name=var]').val();
        var url = '/behavior/query?type=' + type + '&var=' + var_;
        table.reload('subscribe', {
          url: url
        });
      });
    });
  </script>
</section>
</body>
</html>